{% extends "/blog/blog-base.html" %}

{% block header-resp-classes %}{{block.super}} text-center{% endblock %}

<section id="blog-standard" class="section blog blog-card-fullwidth mild-bg">
        <div class="container">
            <div class="row">
                <!--blog content-->
                <div class="col-md-8 col-md-push-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_1.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Design Trends That We Will See Taking Over Web Design
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Article</a></span>
                                        <span>01 Nov</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_2.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Web Development Reading List #112: Updated Edge
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Performance</a></span>
                                        <span>22 Jan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_5.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Using System UI Fonts In Web Design: A Quick Practical Guide
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Psychology</a></span>
                                        <span>01 Apr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_6.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Freebie: Voyage Icon Set (40 Icons, AI, EPS, SVG, PNG)
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">User Experience</a></span>
                                        <span>01 May</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_6.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Freebie: Voyage Icon Set (40 Icons, AI, EPS, SVG, PNG)
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">User Experience</a></span>
                                        <span>01 May</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_7.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            The State Of Airline Websites 2015: Lessons Learned
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Flexbox</a></span>
                                        <span>16 June</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_1.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Design Trends That We Will See Taking Over Web Design
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Article</a></span>
                                        <span>01 Nov</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_2.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Web Development Reading List #112: Updated Edge
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Performance</a></span>
                                        <span>22 Jan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_5.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Using System UI Fonts In Web Design: A Quick Practical Guide
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">Psychology</a></span>
                                        <span>01 Apr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post ">
                                <img class="img-responsive center-block" src="/assets/images/blog/card/blog_6.jpg"
                                     alt="Latest News 1">
                                <div class="blog-content">
                                    <h5>
                                        <a href="blog__single__right_sidebar.html">
                                            Freebie: Voyage Icon Set (40 Icons, AI, EPS, SVG, PNG)
                                        </a>
                                    </h5>
                                    <div class="post-meta">
                                        <span class="blog-catagory"><a href="#">User Experience</a></span>
                                        <span>01 May</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav class="blog-pagination">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--blog content end-->

                <!--sidebar-->

                <!--sidebar end-->
            </div>
        </div>
    </section>

{% block blog-resp-classes %}col-md-8 col-md-push-4{% endblock %}

{% block blog-page-after-content %}
{% include "blog/includes/sidebar.html" %}
{% endblock %}