<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    {% for comment in post.replies %}
        {% include "/blog/includes/single-comment.html" %}
    {% endfor %}
    <form class="ui reply form">
        <div class="field">
            <textarea></textarea>
        </div>
        <div class="ui blue labeled submit icon button">
            <i class="icon edit"></i> Add Reply
        </div>
    </form>
</div>