<a name="comments"></a>
<div class="ui accordion">
    <div class="title">
        <div class="ui dividing header">
            <div class="ui basic segment">
                <h4><i class="dropdown icon"></i> Comments</h4>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui basic segment">
            <div class="ui comments">
                {% for comment in post.replies %}
                    {% include "blog/includes/single-comment.html" %}
                {% endfor %}
                <form class="ui reply form">
                    <div class="field">
                        <textarea></textarea>
                    </div>
                    <div class="ui blue labeled submit icon button">
                        <i class="icon edit"></i> Add Reply
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.ui.accordion').accordion();
    });
</script>