{% extends "blog/blog-base.html" %}

{% block header-resp-classes %}{{ block.super }} header-inner-m bg-24{% endblock %}
{% block blog-section-styles %}{{ block.super }} section blog-standard multiple-blog{% endblock %}

{% block blog-in-row %}
    <!--blog content-->
    <div class="eleven wide left aligned column">
        {% for post in posts %}
            <div class="ui stackable grid different-blog">
                {% include "blog/includes/post-short.html" %}
            </div>
        {% endfor %}

        {% include "blog/includes/pagination.html" %}
    </div>
    <!--blog content end-->

{% endblock blog-in-row %}