	<section id="blog-standard" class="section blog-standard multiple-blog">
	    <div class="container">
	    	<div class="row">
	    		<!--blog content-->
		        <div class="col-md-8 col-md-offset-2">
<!-- ========================================================
			Multiple blog Post
========================================================= -->

<div class="different-blog">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="author">
                <img src="/assets/images/blog/author/author_2.jpg" class="img-responsive img-circle" alt="Blog Author">
                <span>by </span><a href="#"> admin</a>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <div class="tag">
                <span>Date: </span> <a href="#">20 OCT 2015</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="blog-title">'Homeland' Episode 7: The one where they stop underestimating Carrie</h4>
            <div class="blog-media">
                <img src="/assets/images/blog/classic/image_1.jpg" class="img-responsive center-block" alt="Blog Featured Image">
            </div>


            <div class="main-description">
                <p>
                    Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord is add cheerful husbands two. Estate why theirs indeed him polite old settle though she. In as at regard is easily narrow sea creatures. Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord is add cheerful husbands two. Estate why theirs indeed him polite old settle though she. In as at regard is easily narrow sea creatures.
                </p>
            </div>
        </div>

    </div>

    <div class="blog-footer">
        <span><i class="icon-chat"></i> 3 Comments</span>
        <a href="#" class="btn btn-read-more">
            Read more 
            <span><i class="fa fa-angle-double-right"></i></span>
        </a>
    </div>
</div>



<div class="different-blog">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="author">
                <img src="/assets/images/blog/author/author_1.jpg" class="img-responsive img-circle" alt="Blog Author">
                <span>by </span><a href="#"> admin</a>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="tag">
                <span>Date: </span> <a href="#">20 OCT 2015</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="blog-title">Royals, thongs and kangaroos: Billy cart race tears up Sydney street</h4>

            <div class="blog-media">
                <div id="ytPlayerSmall" class="embed-responsive embed-responsive-16by9">
                    <iframe  class="embed-responsive-item" frameborder="0" title="YouTube video player" type="text/html" src="https://www.youtube.com/embed/ooUAVHJAcyk"></iframe>
                </div><!--ytPlayer-->
            </div>

            <div class="main-description">
                <p>
                    Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord is add cheerful husbands two. Estate why theirs indeed him polite old settle though she. In as at regard is easily narrow sea creatures.
                </p>
            </div>
        </div>
    </div>

    <div class="blog-footer">
        <span><i class="icon-chat"></i> 3 Comments</span>
        <a href="#" class="btn btn-read-more">
            Read more 
            <span><i class="fa fa-angle-double-right"></i></span>
        </a>
    </div>
</div>



<div class="different-blog">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="author">
                <img src="/assets/images/blog/author/author_2.jpg" class="img-responsive img-circle" alt="Blog Author">
                <span>by </span><a href="#"> admin</a>
            </div>
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="tag">
                <span>Date: </span> <a href="#">20 OCT 2015</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="blog-title">Stunning photographs from Taj Mahal's first-ever Balloon Festival</h4>

            <div class="blog-media">
                <iframe width="100%" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176016107&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>

            <div class="main-description">
                <p>
                    Use mile her whom they its. Kept hold an want as he bred of. Was dashwood landlord is add cheerful husbands two. Estate why theirs indeed him polite old settle though she. In as at regard is easily narrow sea creatures.
                </p>
            </div>
        </div>
    </div>

    <div class="blog-footer">
        <span><i class="icon-chat"></i> 3 Comments</span>
        <a href="#" class="btn btn-read-more">
            Read more 
            <span><i class="fa fa-angle-double-right"></i></span>
        </a>
    </div>
</div>

<nav class="blog-pagination">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
		        </div>
		        <!--blog content end-->
	    	</div>
	    </div>
	</section>

<!-- Footer widgets -->
<section id="footer-widgets" class="section footer-widgets dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 hidden-xs">
                <div class="footer-title">
                    <div class="text-uppercase">
                        <h4><img class="img-responsive footer-logo" src="/assets/images/logos/1-w.png" alt="California"></h4>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="content-wrap widget-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!</p>
                </div>
                <ul class="list-inline social-icon">
                    <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                    <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                    <li><a href="#"><span class="ion-social-googleplus"></span></a></li>
                    <li><a href="#"><span class="ion-social-linkedin"></span></a></li>
                </ul>
            </div>
            
            <div class="col-md-2 col-sm-4">
                <div class="content-wrap widget-contact">
                    <ul class="list-unstyled list-arrows-right">
                        <li>
                            <a href="#faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="#about_us.html">About Us</a>
                        </li>
                        <li>
                            <a href="">We're Hiring</a>
                        </li>
                        <li>
                            <a href="">Investors</a>
                        </li>
                        <li>
                            <a href="">Export</a>
                        </li>
                        <li>
                            <a href="">Events</a>
                        </li>
                        <li>
                            <a href="">Legal</a>
                        </li>
                        <li>
                            <a href="">Technext</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="content-wrap widget-gallery">
                    <div class="lightbox-gallery">
                        <a target="_blank" href="/assets/images/gallery/big/big_1.jpg">
                            <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/1.jpg" alt=""/>
                        </a>
                        <a target="_blank" href="/assets/images/gallery/big/big_3.jpg">
                            <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/3.jpg" alt=""/>
                        </a>
                        <a target="_blank" href="/assets/images/gallery/big/big_8.jpg">
                            <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/8.jpg" alt=""/>
                        </a>
                        <a target="_blank" href="/assets/images/gallery/big/big_9.jpg">
                            <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/9.jpg" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- /.Footer widgets -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p class="copyright">&copy; 2015 Your company name</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="footer-menu">
                    <a href="">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer> <!-- /.footer -->




</div><!--/#zwrapper-->



<!-- Offcanvas Elements
============================================= -->






<!-- Javascripts
============================================= -->

<script src="/assets/lib/components-modernizr/modernizr.js"></script>
<script src="/assets/lib/jquery/dist/jquery.js"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="/assets/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/lib/animsition/dist/js/animsition.min.js"></script>
<script src="/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>





<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
