{% extends "blog/blog-base.html" %}

{% block page-title %}All Posts | {{ block.super }}{% endblock %}

{% block header-resp-classes %}{{ block.super }} header-inner-m text-center bg-24{% endblock %}
{% block header-grid-classes-outer %}left aligned{% endblock %}
{% block blog-section-styles %}{{ block.super }} section blog blog-card-fullwidth mild-bg{% endblock %}

{% block blog-in-container %}
    <!-- label: {{label}} --> {{ label }}
    <!-- blog content -->
    {% for row in posts-card %}
        <div class="three column row">
            {% for post in row %}
                <div class="left aligned column">
                    <div class="blog-post ">
                        {% include "blog/includes/post-card.html" with post=post %}
                        <!--{# TODO: try without "with" #}-->
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% include "blog/includes/pagination.html" %}
    <!-- end block content -->
{% endblock blog-in-container %}