{% extends "blog/blog-base.html" %}

{% block page-title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block header-page-title %}{{ post.title }}{% endblock %}

{% block header-resp-classes %}{{ block.super }} header-inner-m text-center bg-24 overlay-01{% endblock %}
{% block blog-section-styles %}{{ block.super }} section blog-standard single-blog{% endblock %}

{% block blog-in-row %}
    <!--blog content-->
    <div class="eleven wide left aligned column">
        <div class="ui stackable grid different-blog">
            {% include "blog/includes/post-full.html" %}
        </div>
    </div>
    <!--blog content end-->
{% endblock blog-in-row %}