{% extends "/blog/blog-base.html" %}

{% block page-title %}{{ post.title }} | Scorp Blog{% endblock %}

{% block header-resp-classes %}{{ block.super }} header-inner-m text-center mild-bg bg-24 overlay-01{% endblock %}
{% block blog-section-styles %}{{ block.super }} section blog-standard single-blog{% endblock %}

{% block blog-in-row %}
    <!--blog content-->
    <div class="col-md-8 col-md-push-4">

        {% include "/blog/includes/post-full.html" %}

    </div>
    <!--blog content end-->

    {% include "/blog/includes/sidebar.html" %}

{% endblock blog-in-row %}

{% block add-script %}
    {{ block.super }}
    <script
{% endblock %}