/target/
/classes/
/checkouts/
pom.xml
pom.xml.asc
*.jar
/.lein-*
/.nrepl-port
/resources/public/js/
/resources/public/assets/css/
/resoruces/public/assets/fonts/
/resources/public/assets/images/
/resources/public/assets/videos/
/resources/public/assets/lib/semantic-ui/
/resources/public/media/*
/dev-resources/html/
/dev-resources/libs/node_modules
/dev-resources/libs/components
/logs/
/out
/.repl
.idea/
*.iml
**/out/*
/resources/public/js/compiled/gen/
profiles.clj
Procfile
/db/
/.sass-cache/
