/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
/.lein-*
/.nrepl-port
/resources/public/js
/resources/public/assets/images
/resources/public/assets/videos
/out
/.repl
.idea
*.iml
**/out/*
/resources/public/js/compiled/gen
profiles.clj
Procfile
/db
/site