{:hostname                "http://localhost/"
 :mail-from               "info@localhost.de"
 :mail-type               :sendmail
 :activation-mail-subject "Please activate your account."
 :activation-mail-body    "Please click on this link to activate your account: {{activationlink}}
Best Regards,

Your Team"
 :activation-placeholder  "{{activationlink}}"

 :database-spec           {:subprotocol "postgresql",
                           :subname     "//localhost:5432/site"
                           :make-pool?  true,                               ; use connection pool
                           :user        "site",
                           :password    "site"}

 :env                     :dev                              ; set this to :prod for production mode
 :under-construction      false
 ; set this to true to enable self registration
 :registration-allowed?   true
 :captcha-enabled?        true
 :captcha-public-key      "your public captcha key"
 :private-recaptcha-key   "your private captcha key"
 :recaptcha-domain        "yourdomain"
 :port                    8081
 :closp-definitions       "env/dev/entities"}
