[#needed
    #bundle {"app.js" ["/assets/js/plugins.js"
                       "/assets/js/main.js"]
             "app.css" ["/styles/main.scss" "/styles/custom.scss"]
             "color.css" ["/styles/colors/youtube.scss"]}]