.comments-box {
  margin-top: 35px;
}
.comments-box h5 {
  color: #1c3f52;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  border-bottom: 2px gainsboro solid;
}
.comments-box .comments {
  background: linear-gradient(to bottom, white, #f4f5f7);
}
