<!DOCTYPE html>
<html dir="{% if page-rtl %}rtl{% else %}ltr{% endif %}"
      lang="{% if page-lang %}{{ page-lang }}{% else %}en-US{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{% block page-desc %}{{ page-desc }}{% endblock %}">
    <meta name="keywords" content="Blog, Technology, Thoughts, Stories, Ideas, Programming">
    <meta name="robots" content="noindex,nofollow">

    <title>{% block page-title %}{{ page-title }}{% endblock %}</title>


    <!-- favicons
    ============================================= -->
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}


    <!-- StyleSheets
    ============================================= -->

    <!-- Twitter Bootstrap -->
    {% style "/assets/lib/bootstrap/dist/css/bootstrap.min.css" %}

    <!-- Library Stylesheets -->
    {% style "/assets/lib/animsition/dist/css/animsition.min.css" %}
    {% style "/assets/lib/fontawesome/css/font-awesome.min.css" %}
    {% style "/assets/lib/ionicons/css/ionicons.css" %}
    {% style "/assets/lib/magnific-popup/dist/magnific-popup.css" %}


    <!-- Custom Template Styles -->
    {% style "/assets/css/main.css" %}
    {% style "/assets/css/colors/youtube.css" %}
    {% style "/assets/css/custom.css" %}

    {% block add-header %}
    {% endblock %}

</head>

<body data-spy="scroll" data-target="#main-nav-collapse" data-offset="100">


<!-- Wrapper & Preloader
============================================= -->
{% block body %}

    <div id="zwrapper"
         class="zwrapper animsition"
         data-animsition-in-class="fade-in"
         data-animsition-in-duration="1000"
         data-animsition-out-class="fade-out"
         data-animsition-out-duration="800"
         data-page-loader-text="scorp">

        {% block page-content %}
        {% endblock %}

    </div><!--/#zwrapper-->

    <!-- Offcanvas Elements
    ============================================= -->

    {% block off-canvas %}
    {% endblock %}

    <!-- Javascripts
    ============================================= -->

    {% block scripts %}

        {% script "/assets/lib/components-modernizr/modernizr.js" %}
        {% script "/assets/lib/jquery/dist/jquery.min.js" %}
        {% script "/assets/lib/bootstrap/dist/js/bootstrap.min.js" %}
        {% script "/assets/lib/imagesloaded/imagesloaded.pkgd.min.js" %}
        {% script "/assets/lib/animsition/dist/js/animsition.min.js" %}
        {% script "/assets/lib/magnific-popup/dist/jquery.magnific-popup.js" %}

        {% script "/assets/js/plugins.js" %}
        {% script "/assets/js/main.js" %}

        {% block add-script %}
        {% endblock %}

    {% endblock scripts %}

{% endblock body %}

</body>
</html>