{% extends "base.html" %}

{% block page-title %}Page Not Found - Scorp{% endblock %}

{% block page-content %}
    <section id="four-o-four" class="section four-o-four">
        <div class="container">

            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 four-o-four-text text-center">
                    <h4>Oh no! The page you are looking for is not here.</h4>
                    <h1>404</h1>
                    <a href="/" class="btn btn-cal-default">Take Me Home</a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <img src="/assets/images/others/404.png" class="img-responsive" alt="">
                </div>
            </div>

        </div>
    </section>
{% endblock %}