{% extends "base.html" %}

{% block add-header %}
    {% style "/assets/lib/semantic-ui/dist/semantic.min.css" %}
{% endblock %}

{% block page-content %}

    {% block page-nav-outer %}
        <section id="topNavBar" class="{% block nav-wrapper-classes %}nav-wrapper {% endblock %}">
            <div class="container-fluid">
                <div id="menuzord" class="menuzord red">
                    <a href="index.html" class="menuzord-brand">
                        <img style="height: 50px;" src="/assets/images/logos/1-w.png" alt="california">
                    </a>
                    <ul class="menuzord-menu">
                        <li class="active"><a href="#">Home</a>
                            <ul class="dropdown">
                                <li><a href="#">Landing</a>
                                    <ul class="dropdown">
                                        <li><a href="special_agency.html">Agency</a></li>
                                        <li><a href="special_non_profit.html">Non-Profit</a></li>
                                        <li><a href="special_portfolio.html">Portfolio</a></li>
                                        <li><a href="special_restaurant.html">Restaurant</a></li>
                                        <li><a href="special_shop.html">Fashion Shop</a></li>
                                        <li><a href="special_startup.html">Startup</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Multipage</a>
                                    <ul class="dropdown">
                                        <li><a href="index__mp__fullscreen_static.html">Fullscreen Static</a></li>
                                        <li><a href="index__mp__flex_slider_fullscreen.html">Flex Slider Full Screen</a>
                                        </li>
                                        <li><a href="index__mp__flex_slider_classic.html">Flex Slider Classic</a></li>
                                        <li><a href="index__mp__background_slider.html">Background Slider</a></li>
                                        <li><a href="index__mp__slim_static.html">Slim Static</a></li>
                                        <li><a href="index__mp__animated_cloud.html">Animated Cloud</a></li>
                                        <li><a href="index__mp__owl_carousel.html">Owl Carousel</a></li>
                                        <li><a href="index__mp__video_background_classic.html">Youtube Video
                                            Background</a></li>
                                        <li><a href="index__mp__slim_text_rotator.html">Slim Text Rotator</a></li>
                                        <li><a href="index__mp__text_rotator_wobble.html">Wobble Text Rotator</a></li>
                                        <li><a href="index__mp__mask_text_rotator.html">Mask Text Rotator</a></li>
                                        <li><a href="index__mp__video_player.html">Video Player</a></li>
                                        <li><a href="index__mp__particle_background.html">Particle Background</a></li>
                                        <li><a href="index__mp__particle_spider.html">Particle Spider</a></li>
                                        <li><a href="index__mp__minimal.html">Minimal</a></li>
                                        <li><a href="index__mp__ease_scroll.html">Ease Scroll</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">One Page</a>
                                    <ul class="dropdown">
                                        <li><a href="index__op__fullscreen_static.html">Full Screen Static</a></li>
                                        <li><a href="index__op__exclusive_parallax.html">Exclucive Parallax</a></li>
                                        <li><a href="index__op__text_rotator_clip.html">Text Rotator Clip</a></li>
                                        <li><a href="index__op__exclusive_text_rotator.html">Exclusive Text Rotator</a>
                                        </li>
                                        <li><a href="index__op__video_background_HTML5.html">Video Background HTML5</a>
                                        </li>
                                        <li><a href="index__op__video_player.html">Video Player</a></li>
                                        <li><a href="index__op__dot_nav.html">Dot Nav</a></li>
                                        <li><a href="index__op__fullscreen_nav.html">Full Screen Nav</a></li>
                                        <li><a href="index__op__color_overlay.html">Color Overlay</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="blank_page.html">Blank Page</a></li>
                                <li><a href="RTL.html">RTL</a></li>
                                <li><a href="about_us.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="#">Pricing</a>
                                    <ul class="dropdown">
                                        <li><a href="pricing__2_column.html">2 Columns</a></li>
                                        <li><a href="pricing__3_column.html">3 Columns</a></li>
                                        <li><a href="pricing__4_column.html">4 Columns</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="under_construction.html">Under Construction</a></li>
                                <li><a href="coming_soon.html">Coming Soon</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="#">Gallery</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Full Width</a>
                                            <ul class="dropdown">
                                                <li><a href="gallery__full_width_3_column.html">3 Columns</a></li>
                                                <li><a href="gallery__full_width_4_column.html">4 Columns</a></li>
                                                <li><a href="gallery__full_width_5_column.html">5 Columns</a></li>
                                                <li><a href="gallery__full_width_6_column.html">6 Columns</a></li>
                                                <li><a href="gallery__full_width_7_column.html">7 Columns</a></li>
                                                <li><a href="gallery__full_width_8_column.html">8 Columns</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Full Width Gutter</a>
                                            <ul class="dropdown">
                                                <li><a href="gallery__full_width__gutter_3_column.html">3 Columns</a>
                                                </li>
                                                <li><a href="gallery__full_width__gutter_4_column.html">4 Columns</a>
                                                </li>
                                                <li><a href="gallery__full_width__gutter_5_column.html">5 Columns</a>
                                                </li>
                                                <li><a href="gallery__full_width__gutter_6_column.html">6 Columns</a>
                                                </li>
                                                <li><a href="gallery__full_width__gutter_7_column.html">7 Columns</a>
                                                </li>
                                                <li><a href="gallery__full_width__gutter_8_column.html">8 Columns</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Boxed</a>
                                            <ul class="dropdown">
                                                <li><a href="gallery__boxed_1_column.html">1 Columns</a></li>
                                                <li><a href="gallery__boxed_2_column.html">2 Columns</a></li>
                                                <li><a href="gallery__boxed_3_column.html">3 Columns</a></li>
                                                <li><a href="gallery__boxed_4_column.html">4 Columns</a></li>
                                                <li><a href="gallery__boxed_5_column.html">5 Columns</a></li>
                                                <li><a href="gallery__boxed_6_column.html">6 Columns</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Boxed Gutter</a>
                                            <ul class="dropdown">
                                                <li><a href="gallery__boxed__gutter_2_column.html">2 Columns</a></li>
                                                <li><a href="gallery__boxed__gutter_3_column.html">3 Columns</a></li>
                                                <li><a href="gallery__boxed__gutter_4_column.html">4 Columns</a></li>
                                                <li><a href="gallery__boxed__gutter_5_column.html">5 Columns</a></li>
                                                <li><a href="gallery__boxed__gutter_6_column.html">6 Columns</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="sitemap.html">Sitemap</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Portfolio</a>
                            <div class="megamenu">
                                <div class="megamenu-row row">
                                    <div class="col-md-4 hidden-xs">
                                        <img src="/assets/images/others/nav_portfolio.png" alt="">
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-5th">
                                                <h5>Full Width</h5>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="portfolio__full__width_2_column.html" title="">2
                                                        Columns</a></li>
                                                    <li><a href="portfolio__full__width_3_column.html" title="">3
                                                        Columns</a></li>
                                                    <li><a href="portfolio__full__width_4_column.html" title="">4
                                                        Columns</a></li>
                                                    <li><a href="portfolio__full__width_5_column.html" title="">5
                                                        Columns</a></li>
                                                    <li><a href="portfolio__full__width_6_column.html" title="">6
                                                        Columns</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5th">
                                                <h5>Bordered</h5>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="portfolio__bordered_2_column.html" title="">2
                                                        Columns</a></li>
                                                    <li><a href="portfolio__bordered_3_column.html" title="">3
                                                        Columns</a></li>
                                                    <li><a href="portfolio__bordered_4_column.html" title="">4
                                                        Columns</a></li>
                                                    <li><a href="portfolio__bordered_5_column.html" title="">5
                                                        Columns</a></li>
                                                    <li><a href="portfolio__bordered_6_column.html" title="">6
                                                        Columns</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5th">
                                                <h5>Boxed</h5>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="portfolio__boxed_2_column.html" title="">2 Columns</a>
                                                    </li>
                                                    <li><a href="portfolio__boxed_3_column.html" title="">3 Columns</a>
                                                    </li>
                                                    <li><a href="portfolio__boxed_4_column.html" title="">4 Columns</a>
                                                    </li>
                                                    <li><a href="portfolio__boxed_5_column.html" title="">5 Columns</a>
                                                    </li>
                                                    <li><a href="portfolio__boxed_6_column.html" title="">6 Columns</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5th">
                                                <h5>Standard</h5>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="portfolio__standard_2_column.html" title="">2
                                                        Columns</a></li>
                                                    <li><a href="portfolio__standard_3_column.html" title="">3
                                                        Columns</a></li>
                                                    <li><a href="portfolio__standard_4_column.html" title="">4
                                                        Columns</a></li>
                                                    <li><a href="portfolio__standard_5_column.html" title="">5
                                                        Columns</a></li>
                                                    <li><a href="portfolio__standard_6_column.html" title="">6
                                                        Columns</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5th">
                                                <h5>Single</h5>
                                                <ul class="mega-sub-menu">
                                                    <li><a href="portfolio__single_featured_image.html" title="">Featured
                                                        Image</a></li>
                                                    <li><a href="portfolio__single_featured_slider.html" title="">Featured
                                                        Slider</a></li>
                                                    <li><a href="portfolio__single_featured_video.html" title="">Featured
                                                        Video</a></li>
                                                    <li><a href="portfolio__single_featured_carousel.html" title="">Featured
                                                        Carousel</a></li>
                                                    <li><a href="portfolio__single_with_sidebar.html" title="">With
                                                        Sidebar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul class="dropdown">
                                <li><a href="#">Classic</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="blog__classic_fullwidth.html">Full Width</a></li>
                                        <li><a href="blog__classic_left_sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog__classic_right_sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog__classic_both_sidebar.html">Both Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Card</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="blog__card_fullwidth.html">Full Width</a></li>
                                        <li><a href="blog__card_boxed.html">Boxed</a></li>
                                        <li><a href="blog__card_left_sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog__card_right_sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog__card_both_sidebar.html">Both Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Single Blog Post</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="blog__single__fullwidth.html">Full Width</a></li>
                                        <li><a href="blog__single__left_sidebar.html">Left Sidebar</a></li>
                                        <li><a href="blog__single__right_sidebar.html">Right Sidebar</a></li>
                                        <li><a href="blog__single__both_sidebar.html">Both Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Shop</a>
                            <ul class="dropdown">
                                <li><a href="shop__home.html">Shop Home</a></li>
                                <li><a href="#">Product Archive</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="shop__product_archive_2_column.html">2 Column</a></li>
                                        <li><a href="shop__product_archive_3_column.html">3 Column</a></li>
                                        <li><a href="shop__product_archive_4_column.html">4 Column</a></li>
                                        <li><a href="shop__product_archive_left_sidebar.html">Left Sidebar</a></li>
                                        <li><a href="shop__product_archive_right_sidebar.html">Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Single Product</a>
                                    <ul class="dropdown dropdown-left">
                                        <li><a href="shop__single_product.html">Full Width</a></li>
                                        <li><a href="shop__single_product__sidebar_left.html">Left Sidebar</a></li>
                                        <li><a href="shop__single_product__sidebar_right.html">Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop__cart.html">Cart</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Components</a>
                            <ul class="dropdown">
                                <li><a href="icons.html"><i class="fa fa-heart"></i> &nbsp; Icons</a></li>
                                <li><a href="typography.html"><i class="fa fa-text-height"></i> &nbsp; Typography</a>
                                </li>
                                <li><a href="buttons.html"><i class="fa fa-plus-square"></i> &nbsp; Buttons</a></li>
                                <li><a href="forms.html"><i class="fa fa-toggle-on"></i> &nbsp; Forms</a></li>
                                <li><a href="tabs__accordions.html"><i class="fa fa-tasks"></i> &nbsp; Tabs &amp;
                                    Accordions</a></li>
                                <li><a href="alerts__wells.html"><i class="fa fa-exclamation-circle"></i> &nbsp; Alerts
                                    &amp; Wells</a></li>
                                <li><a href="call__to__action.html"><i class="fa fa-bell"></i> &nbsp; Call to
                                    Actions</a>
                            </ul>
                        </li>
                        <li class="item-icon hidden-xs">
                            <a id="toggelSearch" href="#">
                                <i class="ion-ios-search-strong"></i>
                            </a>
                            <form id="searchInput" class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="TYPE &amp; HIT ENTER...">
                                </div>
                            </form>
                        </li>

                        <li class="item-icon hidden-xs">
                            <a href="#">
                                <i class="ion-ios-cart"></i>
                                <span class="badge">2</span>
                            </a>

                            <div class="megamenu megamenu-quarter-width top-cart-content">
                                <div class="top-cart-title">Shopping Cart</div>
                                <div class="top-cart-items">
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="/assets/images/shop/navbar_cart/cart_1.jpg"
                                                             alt="Blue Round-Neck Tshirt"></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Georgette &amp; Net Casual Top - Blue</a>
                                            <span class="top-cart-item-price">$29.99</span>
                                            <span class="top-cart-item-quantity">x 3</span>
                                        </div>
                                    </div>
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="/assets/images/shop/navbar_cart/cart_2.jpg"
                                                             alt="Light Blue Denim Dress"></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Light Blue Denim Dress</a>
                                            <span class="top-cart-item-price">$324.99</span>
                                            <span class="top-cart-item-quantity">x 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-cart-action clearfix">
                                    <span class="pull-left top-checkout-price">$214.95</span>
                                    <a class="btn btn-cal-default pull-right" href="shop__cart.html">View Cart</a>
                                </div>
                            </div>
                        </li>
                        <li style="height: 1px" class="scrollable-fix">

                        </li>
                    </ul>

                </div>
            </div>
        </section><!--/nav-wrapper-->
    {% endblock page-nav-outer %}

    {% block below-nav %}
    {% endblock %}

    <!-- Footer widgets -->
    {% block footer-outer %}
        <section id="footer-widgets" class="section footer-widgets dark-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4 hidden-xs">
                        <div class="footer-title">
                            <div class="text-uppercase">
                                <h4><img class="img-responsive footer-logo" src="/assets/images/logos/1-w.png"
                                         alt="California"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="content-wrap widget-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero
                                nihil.
                                Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At
                                consectetur cumque enim error laudantium mollitia obcaecati!</p>
                        </div>
                        <ul class="list-inline social-icon">
                            <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                            <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                            <li><a href="#"><span class="ion-social-googleplus"></span></a></li>
                            <li><a href="#"><span class="ion-social-linkedin"></span></a></li>
                        </ul>
                    </div>

                    <div class="col-md-2 col-sm-4">
                        <div class="content-wrap widget-contact">
                            <ul class="list-unstyled list-arrows-right">
                                <li>
                                    <a href="#faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="#about_us.html">About Us</a>
                                </li>
                                <li>
                                    <a href="">We're Hiring</a>
                                </li>
                                <li>
                                    <a href="">Investors</a>
                                </li>
                                <li>
                                    <a href="">Export</a>
                                </li>
                                <li>
                                    <a href="">Events</a>
                                </li>
                                <li>
                                    <a href="">Legal</a>
                                </li>
                                <li>
                                    <a href="">Technext</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="content-wrap widget-gallery">
                            <div class="lightbox-gallery">
                                <a target="_blank" href="/assets/images/gallery/big/big_1.jpg">
                                    <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/1.jpg"
                                         alt=""/>
                                </a>
                                <a target="_blank" href="/assets/images/gallery/big/big_3.jpg">
                                    <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/3.jpg"
                                         alt=""/>
                                </a>
                                <a target="_blank" href="/assets/images/gallery/big/big_8.jpg">
                                    <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/8.jpg"
                                         alt=""/>
                                </a>
                                <a target="_blank" href="/assets/images/gallery/big/big_9.jpg">
                                    <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/9.jpg"
                                         alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- /.Footer widgets -->
        <footer id="footer" class="section footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <p class="copyright">&copy; 2016 Saeid Akbari (Scorp)</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p class="footer-menu">
                            <a href="">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer> <!-- /.footer -->
    {% endblock footer-outer %}

{% endblock page-content %}