{% extends "base.html" %}

{% block page-title %}Scorp{% endblock %}

{% block add-header %}
{% endblock %}

{% block wrapper-classes %}{{ block.super }} fixed-footer{% endblock %}

{% block page-content %}

    {% block page-nav-outer %}
        <section id="topNavBar"
                 class="{% block nav-wrapper-classes-outer %}nav-wrapper {% block nav-wrapper-classes %}{% endblock %}{% endblock %}">
            <div class="container-fluid">
                <div id="menuzord" class="menuzord red">
                    <a href="{% url page home %}" class="menuzord-brand">
                        <!--<img style="height: 50px; margin-left: 15px;" src="/assets/images/logos/larry-the-cow.svg"
                             alt="Larry the Cow" title="Larry the Cow">-->
                        <div class="logo-container">
                            <object type="image/svg+xml"
                                    data="/assets/images/logos/logo.svg"
                                    class="logo">
                                Scorp Logo
                            </object>
                        </div>
                    </a>
                    <ul class="menuzord-menu">
                        <li {% ifequal page ":home" %}class="active"{% endifequal %}>
                            <a href="{% url page home %}"><i class="home icon"></i>Home</a>
                        </li>
                        <li {% ifequal page ":recent-posts" %}class="active"{% endifequal %}>
                            <a href="{% url page recent-posts %}"><i class="fa fa-pencil-square-o"></i>Blog</a>
                            <ul class="dropdown">
                                <li {% ifequal page ":recent-posts" %}class="act"{% endifequal %}>
                                    <a href="{% url page recent-posts %}"><i class="hourglass start icon"></i> Recent
                                        Posts</a>
                                </li>
                                <li {% ifequal page ":posts-archive" %}class="active"{% endifequal %}>
                                    <a href="{% url page posts-archive %}"><i class="archive icon"></i> Archive</a>
                                </li>
                                <li {% ifequal page ":all-posts" %}class="active"{% endifequal %}>
                                    <a href="{% url page all-posts %}"><i class="grid layout icon"></i> All Posts</a>
                                </li>
                            </ul>
                        </li>
                        <li {% ifequal page ":projects" %}class="active"{% endifequal %}>
                            <a href="{% url page projects %}"><i class="fa fa-certificate"></i>Projects</a>
                        </li>
                        <li {% ifequal page ":about-me" %}class="active"{% endifequal %}>
                            <a href="{% url page about-me %}"><i class="fa fa-info-circle"></i>About Me</a>
                            <ul class="dropdown">
                                <li {% ifequal page ":contact" %}class="active"{% endifequal %}><a
                                        href="{% url page contact %}"><i class="at icon"></i> Contact</a></li>
                            </ul>
                        </li>

                        <!-- Hidden menus -->
                        <li class="item-icon hidden-xs">
                            <a id="toggelSearch" href="#">
                                <i class="ion-ios-search-strong"></i>
                            </a>
                            <form id="searchInput" class="navbar-form" role="search">
                                <div class="input-group ui input">
                                    <input type="text" class="form-control" placeholder="TYPE &amp; HIT ENTER...">
                                </div>
                            </form>
                        </li>

                        <!--<li class="item-icon hidden-xs">
                            <a href="#">
                                <i class="fa fa-bell"></i>
                                <span class="badge">2</span>
                            </a>

                            <div class="megamenu megamenu-quarter-width top-cart-content">
                                <div class="top-cart-title">Notifications</div>
                                <div class="top-cart-items">
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="/assets/images/shop/navbar_cart/cart_1.jpg"
                                                             alt="Blue Round-Neck Tshirt"></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Georgette &amp; Net Casual Top - Blue</a>
                                            <span class="top-cart-item-price">$29.99</span>
                                            <span class="top-cart-item-quantity">x 3</span>
                                        </div>
                                    </div>
                                    <div class="top-cart-item clearfix">
                                        <div class="top-cart-item-image">
                                            <a href="#"><img src="/assets/images/shop/navbar_cart/cart_2.jpg"
                                                             alt="Light Blue Denim Dress"></a>
                                        </div>
                                        <div class="top-cart-item-desc">
                                            <a href="#">Light Blue Denim Dress</a>
                                            <span class="top-cart-item-price">$324.99</span>
                                            <span class="top-cart-item-quantity">x 1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-cart-action clearfix">
                                    <span class="pull-left top-checkout-price">$214.95</span>
                                    <a class="btn btn-cal-default pull-right" href="shop__cart.html">View Cart</a>
                                </div>
                            </div>
                        </li>
                        -->
                        <li style="height: 1px" class="scrollable-fix">

                        </li>
                    </ul>

                </div>
            </div>
        </section><!--/nav-wrapper-->
    {% endblock page-nav-outer %}

    {% block below-nav %}
        <!-- Header -->
        <header id="header" class="{% block header-resp-classes %}{% endblock %}">
            <div class="ui centered stackable grid container">
                <div class="{% block header-grid-classes-outer %}eleven wide left aligned {% block header-grid-classes %}{% endblock %}{% endblock %} column">
                    <div class="ui middle aligned grid">
                        <div class="eleven wide column">
                            <div class="ui huge {% block header-inside-header-classes %}inverted{% endblock %} header">
                                {% block header-page-title %}{{ page-title }}{% endblock %}
                            </div>
                        </div>
                        <div class="right floated right aligned five wide column">
                            <div class="ui basic segment">
                                {% include "includes/breadcrumbs.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /.Header -->

        {% block page-inside %}
        {% endblock %}

    {% endblock below-nav %}

    <!-- Footer -->
    <section id="footer-container" class="footer-container">
        <!-- Footer widgets -->
        {% block footer-outer %}
            <section id="footer-widgets" class="section footer-widgets dark-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-sm-4 hidden-xs">
                            <div class="footer-title">
                                <div class="text-uppercase">
                                    <h4>
                                        <!--<img class="img-responsive footer-logo" src="/assets/images/logos/larry-the-cow.svg"
                                             alt="Larry the Cow" title="Larry the Cow">-->
                                        <object class="img-responsive footer-logo" type="image/svg+xml"
                                                data="/assets/images/logos/logo.svg" class="logo">
                                            Scorp Logo
                                        </object>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <div class="content-wrap widget-text" style="margin-bottom: 10px;">
                                <p></p>
                                <p>I'm a passionate computer programmer/hacker & research enthusiast. Worked with different technologies
                                and softwares in various fields; including but not limited to: programming, artificial intelligence,
                                machine learning, data mining, algorithms, low-level programming, functional/symbolic programming and
                                distributed computing.</p>
                                <p>Currently focusing on distributed machine learning and deep learning algorithms. Using Clojure
                                programming language as the favorite language, relying on JVM for most of my works.</p>
                            </div>
                            <ul class="list-inline social-icon">
                                <li><a href="https://www.facebook.com/saeidscorp"><span class="ion-social-facebook"></span></a></li>
                                <li><a href="https://twitter.com/saeidscorp"><span class="ion-social-twitter"></span></a></li>
                                <li><a href="https://plus.google.com/113134089957782854022"><span class="ion-social-googleplus"></span></a></li>
                                <li><span></span></li>
                                <li><a href="https://www.linkedin.com/in/saeidscorp"><span class="ion-social-linkedin"></span></a></li>
                                <li><a href="https://github.com/saeidscorp/"><span class="ion-social-github"></span></a></li>
                            </ul>
                        </div>

                        <div class="col-md-2 col-sm-4">
                            <div class="content-wrap widget-contact">
                                <ul class="list-unstyled list-arrows-right"
                                    style="font-size: 1.1em; line-height: 2.5em;">
                                    <li>
                                        <a href="{% url page home %}">Home</a>
                                    </li>
                                    <li>
                                        <a href="{% url page recent-posts %}">Blog</a>
                                    </li>
                                    <li>
                                        <a href="{% url page projects %}">Projects</a>
                                    </li>
                                    <li>
                                        <a href="{% url page about-me %}">About Me</a>
                                    </li>
                                    <li>
                                        <a href="{% url page contact %}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!--<div class="col-md-4 col-sm-6">
                            <div class="content-wrap widget-gallery">
                                <div class="lightbox-gallery">
                                    <a target="_blank" href="/assets/images/gallery/big/big_1.jpg">
                                        <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/1.jpg"
                                             alt=""/>
                                    </a>
                                    <a target="_blank" href="/assets/images/gallery/big/big_3.jpg">
                                        <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/3.jpg"
                                             alt=""/>
                                    </a>
                                    <a target="_blank" href="/assets/images/gallery/big/big_8.jpg">
                                        <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/8.jpg"
                                             alt=""/>
                                    </a>
                                    <a target="_blank" href="/assets/images/gallery/big/big_9.jpg">
                                        <img class="img-responsive" src="/assets/images/gallery/thumbnail/full_8/9.jpg"
                                             alt=""/>
                                    </a>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </section> <!-- /.Footer widgets -->
            <footer id="footer" class="section footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p class="copyright">&copy; 2016 Saeid Akbari (Scorp)</p>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p class="footer-menu" style="color: grey; letter-spacing: 2px; cursor: default">
                                <i class="fa fa-firefox"></i>
                                <i class="fa fa-chrome"></i>
                                <i class="fa fa-opera"></i>
                                <i class="fa fa-internet-explorer"></i>
                                <span>|</span>
                                <i class="fa fa-html5"></i>
                                <i class="fa fa-css3"></i>
                                <span>|</span>
                                <i class="pictonic-pl-clojure"></i>
                                <i class="pictonic-prog-java"></i>
                                <!-- TODO: motto goes here -->
                            </p>
                        </div>
                    </div>
                </div>
            </footer> <!-- /.footer -->
        {% endblock footer-outer %}
    </section>

{% endblock page-content %}