{% extends "base.html" %}

{% block page-title %}Scorp Website Under Construction{% endblock %}

{% block page-content %}

<!--=============================================
            Under Construction Page
============================================= -->
<section class="overlay-01 under-construction bg-20 wrapper-table">
    <div class="valign-center">
        <div class="container">
            <div class="intro text-center">
                <!--<div class="logo">
                    <a class="inline-block" href="#">
                        <img class="img-responsive center-block" alt="" src="/assets/images/logos/1-w.png">
                    </a>
                </div>-->

                <h2>Under Construction...</h2>

                <h5>please check back soon </h5>

            </div>
        </div>
    </div>
</section>

{% endblock %}