.footer {
    background-color: #0f0f0f;
    padding: 10px 0;
    color: #eeeeee;

    .footer-menu {
        text-align: right;

        a {
            color: #eee;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @media (max-width: 767px) {
        .copyright, .footer-menu{
            text-align: center;
        }
    }
}

.footer-container {
    position: fixed;
    display: block;
    height: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1000;
}