.under-construction {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
    height: 100vh;
    * {
      -moz-user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
	}

    .intro {
	    color: #fff;

	    .logo {
	    	margin: 0;
	    }

	    img {
	    	margin-bottom: 20px;
	    	margin-top: 30px;
	    }

	    h5 {
	    	font-size: 0.85em;
	    	font-weight: 400;
	    	letter-spacing: 2px;
	    	text-transform: uppercase;
            color: #BADA55;
	    }
	}
}