.btn-cal-default {
  background: #916bff;
  color: #ffffff;
}
.btn-cal-default:hover, .btn-cal-default:focus, .btn-cal-default:active {
  background-color: rgba(145, 107, 255, 0.7);
  color: #ffffff;
  border-color: #916bff;
}

.btn-cal-default-o-color {
  color: #916bff;
  border-color: #916bff;
  background: transparent;
}
.btn-cal-default-o-color:hover {
  background-color: rgba(145, 107, 255, 0.7);
  color: #ffffff;
  border-color: #916bff;
}

.btn-hover-base:hover {
  background-color: #916bff;
  color: #ffffff;
}

.menuzord-menu > li > .megamenu {
  border-color: #916bff;
}

.top-cart-item-desc a:hover {
  color: #916bff;
}

.top-cart-item-image:hover {
  border-color: #916bff;
}

.menuzord-brand:hover, .menuzord-brand:focus, .menuzord-brand:active {
  color: #916bff;
}

.menuzord.red .menuzord-menu > li:hover > a,
.menuzord.red .menuzord-menu ul.dropdown li:hover > a {
  color: #916bff;
}

.menuzord-menu > li.item-icon > a .badge {
  background: #916bff;
}

.menuzord-menu > li .navbar-form .input-group > input:focus, .menuzord-menu > li .navbar-form .input-group > input:active {
  border: none;
  outline: none;
  border-bottom: 1px solid #916bff;
}

.mega-sub-menu > li > a:hover {
  color: #916bff;
}

.service-item .icon {
  color: #916bff;
}

.base-bg {
  background-color: #916bff;
}

.team-social li a:hover {
  background: #916bff;
}

.card-process:hover header span {
  color: #916bff;
  border-color: #916bff;
}
.card-process:hover header::before, .card-process:hover header::after {
  background-color: #916bff;
}

.progress-bar {
  background-color: #916bff;
}

.level .video-info .video-icon:hover, .level .video-info .video-icon:active, .level .video-info .video-icon:focus {
  color: #916bff;
}

.price-box {
  border: 1px solid #916bff;
}
.price-box.featured {
  border-bottom: 1px solid #916bff;
}

.blog .blog-post .blog-content h5 a:hover {
  color: #916bff;
}
.blog .blog-post .post-meta span.blog-catagory a:hover {
  color: #916bff;
}

.client-info p a {
  color: #916bff;
}

.social-icon li a:hover, .social-icon li a:focus, .social-icon li a:active {
  color: #916bff;
}

.widget-contact a:hover, .widget-contact a:focus, .widget-contact a:active {
  color: #916bff;
}

.portfolio-filter li.active a {
  color: #916bff;
}

.portfolio-hover {
  background-color: rgba(145, 107, 255, 0.9);
}

.cta6 > a:hover {
  background-color: #916bff;
}

.team-profile.hiring:hover a {
  color: #916bff;
}

.cta7 h5 span {
  color: #916bff;
}

.breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:focus {
  color: #916bff;
}

.cart-table a:hover {
  color: #916bff;
}

.panel-title:hover a {
  color: #916bff;
}

.sitemap ul li a:hover {
  color: #916bff;
}

.subscribe-form input:focus {
  border-color: #916bff;
}

.card-product .product-badge {
  background-color: #916bff;
}
.card-product .product-price {
  color: #916bff;
}

.single-product .breadcrumb a:hover {
  color: #916bff;
}
.single-product .product-price {
  color: #916bff;
}

.cd-nav h5 {
  color: #916bff;
}

.search-widget form input:focus {
  border-color: #916bff;
}
.search-widget form button:hover {
  color: #916bff;
}
