{% extends "/template-base.html" %}

{% block nav-wrapper-classes %}{{ block.super }}{% endblock nav-wrapper-classes %}

{% block below-nav %}

    <header id="header" class="header-inner-2 mild-bg text-center">
        <div class="container">
            {% include "/includes/breadcrumbs.html" %}
            <h3>{% block page-title %}Login{% endblock %}</h3>
        </div>
    </header>

    <!--<div class="container-fluid block-center" id="login">-->
    <div class="row section">
        <div class="col-md-4 col-md-offset-4">

            <form class="form-horizontal" role="form" action="/user/login" method="POST">
                <input name="__anti-forgery-token" type="hidden" value="{{ af-token }}"/>
                {% if nexturl %}
                    <input name="nexturl" type="hidden" value="{{ nexturl }}"/>
                {% endif %}

                {% if error %}
                    <div id="error" class="alert alert-danger">{{ error }}</div>
                {% endif %}


                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>

                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-9 col-sm-2">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <!--</div>-->

{% endblock %}


