[{:title "Joining the Linux community!", :url_title "joining-linux-community", :short "Today I'm in the community", author 1
  :featured_image 4, :content "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet aliquet sem, a imperdiet turpis ultricies a. Donec quis pulvinar risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sem leo, pellentesque sit amet volutpat at, fermentum eget magna. Maecenas rutrum metus vel commodo pellentesque. Ut quis lorem et ipsum tincidunt tristique. Vivamus lobortis suscipit turpis sit amet vestibulum. Quisque sagittis mauris eget ligula varius euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum lorem velit, ultricies ac augue vel, blandit ullamcorper sapien. Fusce venenatis elit nec lacinia varius. Vestibulum ac libero a mi rhoncus ornare."}
 {:title "The Mac OS X is actually very beautiful!", :url_title "macosx-is-very-beautiful", :short "I just installed Mac OS X Yosemite, to give it a try", :author 1
  :content "Eos cumque ut reprehenderit. Veritatis a sed quia ipsa eligendi ut doloribus. Sed id consequatur repellat dolor praesentium rem. Rem a recusandae omnis. Qui sed beatae in maiores minima. Quis dolore autem iure fugit et alias occaecati porro. Sit placeat minima praesentium similique aut reiciendis. Eaque a aperiam fugit iure praesentium quia porro. Omnis error esse pariatur quo aut. Laborum omnis tempore dolor sunt repudiandae. Libero mollitia et inventore assumenda molestiae assumenda magnam eum. Sit est pariatur repellendus."
  :featured_image 1}
 {:title "This site is actually written in Clojure!", :url_title "this-site-is-written-in-clojure", :short "In case you are thinking \"Oh great. some other guy used PHP to write another crappy homepage.\""
  :author 1, :featured_image 3, :content "<p class=\"lead\">Sit eu prompta mediocrem, dico aperiam luptatum his in, ea vix consul ancillae. Pri erat solum partem at? Sea at malis numquam adolescens, augue ignota nemore cum ne, ad duo illud eirmod deterruisset. Affert vidisse feugait has te, omnis accusam et sit, simul accusata cu vim? Duis menandri ius ei, qui ea numquam tibique, te qui tacimates postulant appellantur?</p>\n\n<p>Noster persequeris has an, liber equidem et duo! Diam dolorum ea nec, debitis conceptam in his, mei ex natum prima. Ignota fuisset intellegam cum ut, cum te populo dicunt pertinax. Vix ne corrumpit disputando, qui accusata pericula eu, cu usu regione phaedrum? Nam dicunt torquatos an, quem insolens maluisset ad mea, vis ex sanctus graecis!</p>"}]