[{:title "Joining the Linux community!", :short "Today Im in the community", author 1
  :content "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet aliquet sem, a imperdiet turpis ultricies a. Donec quis pulvinar risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut sem leo, pellentesque sit amet volutpat at, fermentum eget magna. Maecenas rutrum metus vel commodo pellentesque. Ut quis lorem et ipsum tincidunt tristique. Vivamus lobortis suscipit turpis sit amet vestibulum. Quisque sagittis mauris eget ligula varius euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum lorem velit, ultricies ac augue vel, blandit ullamcorper sapien. Fusce venenatis elit nec lacinia varius. Vestibulum ac libero a mi rhoncus ornare."}
 {:title "The Mac OS X is actually very beautiful!", :short "I just installed Mac OS X Yosemite, to give it a try", :author 1
  :content "Eos cumque ut reprehenderit. Veritatis a sed quia ipsa eligendi ut doloribus. Sed id consequatur repellat dolor praesentium rem. Rem a recusandae omnis. Qui sed beatae in maiores minima. Quis dolore autem iure fugit et alias occaecati porro. Sit placeat minima praesentium similique aut reiciendis. Eaque a aperiam fugit iure praesentium quia porro. Omnis error esse pariatur quo aut. Laborum omnis tempore dolor sunt repudiandae. Libero mollitia et inventore assumenda molestiae assumenda magnam eum. Sit est pariatur repellendus."
  :featured_image 1}]