<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="author">
            <img src="{{post.author.image-src}}" class="img-responsive img-circle"
                 alt="Blog Author">
            <span>by </span><a href="#">{{post.author.name}}</a>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="tag">
            <span>tagged as: </span> {% for tag in post.tags %}<a href="#">{{tag.name}}</a>{% if not forloop.last %},{%
            endif %}{% endfor %}
            {% if date %}
            <span>Date: </span> <a href="{{date.url}}">{{date.str}}</a>
            {% endif %}
        </div>
    </div>
</div>