{% if pagination-pages %}
    <nav class="blog-pagination">
        <div class="ui icon pagination menu">
            <a class="item" href="#" aria-label="Previous">
                <i class="small left chevron icon" aria-hidden="true"></i>
            </a>

            {% for page in pagination-pages %}
                <!-- TODO: make current page apear as a normal text -->
                <a class="item" href="{{ page.url }}">{{ page.number }}</a>
            {% endfor %}

            <a class="item" href="#" aria-label="Next">
                <i class="small right chevron icon" aria-hidden="true"></i>
            </a>
        </div>
    </nav>
{% endif %}