{% if post.has-image %}
    <img class="img-responsive center-block" src="{{ post.image-src }}" alt="{{ page.short-title }}">
{% endif %}
<div class="blog-content">
    <h5>
        <a href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h5>
    <div class="post-meta">
        {% for cat in post.categories %}
            <span class="blog-catagory"><a href="{{ cat.url }}">{{ cat.title }}</a></span>
        {% endfor %}
        <span>{{ post.date }}</span>
    </div>
</div>