<!-- ====================================================
                    Single blog Post
    ======================================================= -->


<div class="one column row">
    <div class="column">

        {% include "blog/includes/includes/post-title.html" with link=true %}

        {% include "blog/includes/includes/post-media.html" %}

    </div>
</div>

<div class="one column row">
    <div class="main-description column">
        {{ post.content|safe }}
    </div>
</div>

{% include "blog/includes/includes/author-row.html" %}

<div class="one column centered row">
    {% include "blog/includes/includes/share.html" %}
</div>

<div class="one column row">
    <div class="column">
        {% include "blog/comments.html" %}
    </div>
</div>
