<!-- ========================================
            Contact
========================================== -->


<section id="contact" class="section p-a-0 contact">

    <div id="map" class="bg-map"></div>

    <div class="section-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="contact-box">

                        <div class="row">
                            <div class="col-md-6">
                                <p class="info-address">
                                    <span class="icon-basic_geolocalize-05 pull-left info-icon"></span>
                                    <strong>Kerman, Iran</strong> <br>Somewhere there
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p class="info-contact">
                                    <span class="icon-ecommerce_megaphone pull-left info-icon"></span>
                                    <a href=""><strong>Email:</strong></a> <br>saeidscorp &lt;at&gt; yahoo &lt;dot&gt;
                                    com
                                </p>
                            </div>
                        </div>

                        <form action="php/contact-form.php" class="contact-form" id="contactForm" method="post"
                              name="contactform" role="form">

                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" required
                                       placeholder="Name">
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required
                                       placeholder="Email">
                            </div>

                            <div class="form-group">
                                    <textarea class="form-control" id="message" name="massage"
                                              placeholder="Type your message here" rows="8" required></textarea>
                            </div>

                            <div id="contactFormResponse"></div>

                            <button id="cfsubmit" type="submit" class="btn btn-cal-default contact-submit">Send
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="cta7">
    <div class="ui divided stackable grid container">
        <div class="ten wide column">
            <h5>
                View my full <span>R&eacute;sum&eacute;</span> to learn more
            </h5>
            <p>I strive to keep up-to-date with latest technologies.</p>
        </div>
        <div class="right floated device desktop center aligned device mobile
                        right aligned middle aligned four wide column">
            <button class="ui basic button btn">
                View R&eacute;sum&eacute;
            </button>
        </div>
    </div>
</div>