{% extends "template-base.html" %}

{% block page-title %}Contact | {{ block.super }}{% endblock %}

{% block header-page-title %}Contact{% endblock %}
{% block header-resp-classes %}mild-bg header-inner{% endblock %}
{% block header-grid-classes-outer %}left aligned{% endblock %}
{% block header-inside-header-classes %}{% endblock %}
{% block nav-wrapper-classes %}{{ block.super }}navbar-solid{% endblock %}

{% block page-inside %}

{% include "includes/contact-form.html" %}

{% endblock %}

{% block add-script %}
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
{% endblock %}